.flag-details-main {
  margin: 5%;
}

.back-button {
  margin: 7% 0 10% 0%;
  padding: 1% 6%;
  display: flex;
  align-items: center;
  position: relative;
  width: 13%;
  border-radius: 3px;
  border: 1px solid #ccc;
  background-color: white;
  cursor: pointer;
  box-sizing: border-box;
}

.back-arrow {
  height: 20px;
  width: 18px;
  position: absolute;
  left: 20%;
  fill: #ff0000 !important;
}

.details {
  display: flex;
  justify-content: space-between;
}

.details img {
  margin-right: 10%;
  border: 1px solid #ccc;
}

.details div {
  width: 100%;
  justify-content: flex-start;
  margin-top: 8%;
}

.details-row {
  display: flex;
  justify-content: space-between;
}

.details-row div {
  margin-bottom: 10px;
}

@media (max-width: 425px) {
  .details,
  .details-row {
    flex-wrap: wrap;
    justify-content: center;
  }

  .details img {
    margin: auto;
    width: 100%;
  }

  .details-row div {
    margin-right: 0;
  }
  .back-button {
    width: 20vw;
    padding: 0.5% 0 0.5% 10%;
  }
  .back-arrow {
    left: 3vw;
  }
}
