:root {
  --background-color: #f0f0f0;
  --text-color: #333;
}

.dark .navbar {
  background-color: hsl(209, 23%, 22%);
  color: #fff;
}

.dark .input {
  background-color: hsl(209, 23%, 22%);
  color: #fff;
}

.dark .flags-card {
  background-color: hsl(209, 23%, 22%);
  color: #fff;
}

.dark .back-button{
  background-color: hsl(209, 23%, 22%);
  color: #fff;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}
